body{
    background-color:lightblue;
    padding: 10px 15px;
}

.cityName{
    /* puts the city name in upper case */
    text-transform: uppercase;
}

#currentConditions{
    display: flex;
    gap: 20px;
}

#tempNicon{
    display: flex;
    gap: 10px;
}

#currentTemp{
    font-size: 75px;
}

img{
    border: solid 1px;
    width: 200px;
    height: 200px;
}