<body 
[class.night]="weatherService.check(`${weatherService.currentTime}`, `
${weatherService.getEpoch(`${weatherData().currentConditions.sunsetEpoch}`)}`)">
    <h2 class="cityName">{{ weatherData().resolvedAddress }}</h2>
    <app-default></app-default>
    <p>{{ weatherData().currentConditions.conditions }}</p>
    <div id="currentConditions">
        <div id="tempNicon">
            <p id="currentTemp">{{ weatherData().currentConditions.temp | number:'1.0-0' }}&deg;</p>
            <img  [src]="weatherService.setIcon(`${weatherData().currentConditions.icon}`)" alt="Weather Icon">
        </div>
        <div id="currentStats">
            <p>Hi: {{ weatherData().days[0].tempmax | number:'1.0-0'}}&deg;</p>
            <p>Lo: {{ weatherData().days[0].tempmin | number:'1.0-0'}}&deg;</p>
            <p>Feels Like: {{ weatherData().currentConditions.feelslike | number:'1.0-0'}}&deg;</p>
            <p>Humidity: {{ weatherData().currentConditions.humidity | number:'1.0-0'}}%</p>
            <p>Dew Point: {{ weatherData().currentConditions.dew | number:'1.0-0'}}&deg;</p>
            <p>Precip: {{ weatherData().currentConditions.precip | number:'1.1-1'}} in.</p>
        </div>
    </div>
    <p>Wind Speed: {{ weatherData().currentConditions.windspeed | number:'1.0-0'}} mph</p>
    <p>Sunrise: {{ weatherData().currentConditions.sunriseEpoch | time | date: 'shortTime'}}</p>
    <p>Sunset: {{ weatherData().currentConditions.sunsetEpoch | time | date: 'shortTime' }}</p>
    <p>UV Index: {{ weatherData().currentConditions.uvindex }}</p>
</body>

