<body>
    <h2>City Name</h2>
    <p>Verbal conditions go here</p>
    <div id="currentConditions">
        <div id="tempNicon">
            <p id="currentTemp">85&deg;</p>
            <img src="" alt="Weather Icon">
        </div>
        <div id="currentStats">
            <p>Hi: &deg;</p>
            <p>Lo: &deg;</p>
            <p>Feels Like: </p>
            <p>Humidity: %</p>
            <p>Dew Point: &deg;</p>
            <p>Precip: in.</p>
        </div>
    </div>
    <p>Wind Speed: mph</p>
    <p>Sunrise: </p>
    <p>Sunset: </p>
    <p>UV Index: </p>
</body>
