header{
    background-color: #2a2cf8;
    padding: 2px 10px;
}

h1 {
  color: white;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search{
    float: right;
}

input, button{
    font-size: 17px;
}